
/*THEME BASE COLORS*/
/*GREEN #4fbe37 */
/*GREY #7b7979 */

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.btn-red {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	border:1px solid #d83526;
	color:#ffffff;
	
	text-shadow:1px 1px 0px #b23e35;
}.btn-red:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.btn-red:active {
	position:relative;
	top:1px;
}

.btn-yellow {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #fce82f) );
	background:-moz-linear-gradient( center top, #ffec64 5%, #fce82f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#fce82f');
	box-shadow:inset 0px 1px 0px 0px #F7F1C6;
	background-color:#ffec64;
	border:1px solid #ffdb24;
}.btn-yellow:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fce82f), color-stop(1, #ffec64) );
	background:-moz-linear-gradient( center top, #fce82f 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fce82f', endColorstr='#ffec64');
	background-color:#fce82f;
}.btn-yellow:active {
	position:relative;
	top:1px;
}


.btn-default {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9f25c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9f25c;
	box-shadow:inset 0px 1px 0px 0px #d9f25c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c7e629), color-stop(1, #bfda38) );
	background:-moz-linear-gradient( center top, #c7e629 5%, #bfda38 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7e629', endColorstr='#bfda38');
	background-color:#c7e629;
	border:1px solid #90c238;
	color:#000;
	text-decoration:none;
}.btn-default:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bfda38), color-stop(1, #c7e629) );
	background:-moz-linear-gradient( center top, #bfda38 5%, #c7e629 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfda38', endColorstr='#c7e629');
	background-color:#bfda38;
}.btn-default:active {
	position:relative;
	top:1px;
}


/* Those imageless css buttons was generated by CSSButtonGenerator.com */