

.page_wrapper
{
	
	max-width: 900px;

	margin: 0 auto;
    margin-bottom: 30px;
    min-height:50px;
    overflow:hidden;
    -webkit-border-radius: 5px;

	background-color: #fff;
/*	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);*/

/*	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;*/

}

.noshadow{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/*
.page_wrapper:before, .page_wrapper:after
{
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-4deg) rotate(-4deg);
	-moz-transform: skew(-4deg) rotate(-4deg);
	-ms-transform: skew(-4deg) rotate(-4deg);
	-o-transform: skew(-4deg) rotate(-4deg);
	transform: skew(-4deg) rotate(-4deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
} 

.page_wrapper:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(4deg) rotate(4deg);
	-moz-transform: skew(4deg) rotate(4deg);
	-ms-transform: skew(4deg) rotate(4deg);
	-o-transform: skew(4deg) rotate(4deg);
	transform: skew(4deg) rotate(4deg);
} 
*/